


<h1>Possible recruiters for <%= @applicant.first_name %>
</h1>



<%@match_id.each do |match| %>
    <ul>
      <li><%= match %></li>
    </ul>
  <% end %>



<%= simple_form_for(@applicant, url: applicant_path, method: :patch) do |f| %>

  <%= f.select :recruiter_id, options_for_select(@rec_matches.collect { | recruiter | [recruiter.name, recruiter.id] }, @match_id), {}, {} %>
  <%= f.button :submit %>
<% end %>
