


<h1>Possible recruiters for <%= @applicant.first_name %>
</h1>



<%@match_name.each do |match| %>
    <ul>
      <li><%= match %></li>
    </ul>
  <% end %>



<%= simple_form_for(@applicant, url: applicant_path, method: :patch) do |f| %>
  <%= f.select :recruiter_id, @match_name %>
  <%= f.button :submit %>
<% end %>
