


<h1>Possible recruiters for <%= @applicant.first_name %>
</h1>



<%@rec_matches.each do |match| %>
    <ul>
      <li><%= "#{match.id} - #{match.name}"%></li>
    </ul>
  <% end %>



<%= simple_form_for(@applicant, url: applicant_path, method: :patch) do |f| %>

  <%= f.select :recruiter_id, options_for_select(@rec_matches.collect { | recruiter | [recruiter.name, recruiter.id] }, @match_id), {}, {} %>
  <%= f.button :submit, value:"ok", class: "btn-primary" %>
<% end %>


