

<h2>
  Choose a date and time for the appointment between <%= @applicant.first_name %> and <%= @recruiter.name %>

</h2>


<div>
<%= simple_form_for(@appointment, url: appointments_path, method: :post) do |f| %>
  <%= f.error_notification %>

  <%= f.input :datetime %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>

</div>


